.quote {
  padding: 5rem 0;
  margin-top: 5rem;
  color: $white;
  background: linear-gradient(
      to bottom,
      rgba(61, 114, 180, 0.7),
      rgba(82, 82, 82, 0.7)
    ),
    url("../../Images/Carousel/mining-garage.jpg"), no-repeat center center;
  background: linear-gradient(
      to bottom,
      rgba(61, 114, 180, 0.7),
      rgba(82, 82, 82, 0.7)
    ),
    url("../../Images/Carousel/mining-garage.jpg"), no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;

  .quote--container {
    .quote--body {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      h5 {
        font-size: 1.25rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0px;
        color: $orange-red;
        margin-top: 0.5rem;
      }
      h2 {
        font-size: 4rem;
        font-weight: 600;
        margin-top: 1rem;
      }
    }

    .button {
      margin-top: 2.5rem;
    }
  }
}
