.reviews {
  background-image: url("../../Images/Reviews/satellite-map.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  .reviews--carousel {
    padding: 80px 20px;
    .reviews--card_container {
      display: flex;
      margin: 0 1rem;
      background-color: $white;
      position: relative;
      padding: 30px;
      box-shadow: 0px 14px 20px -10px rgba(0, 0, 0, 0.1);
      z-index: 1;
      .reviews--card_image {
        padding: 20px;
        img {
          border-radius: 50%;
          width: 100%;
        }
      }
      .reviews--card_details {
        height: 100%;
        .reviews--card_title {
          margin-bottom: 20px;
        }
        .reviews--card_body {
          margin-bottom: 20px;
        }
      }
    }
  }
}
