.contact {
  padding: 5rem 0;
  background-color: #f9f9f9;
  border-bottom: 2px solid #eee;

  .contact--container {
    background-color: $white;
    padding: 3rem;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.15);
    margin-top: -120px;
    border-radius: 2px;
    height: 500px;

    .contact--list {
      ul {
        li {
          font-size: 0.9rem;
          font-weight: 600;
          line-height: 2rem;
          .fas {
            font-size: 0.9rem;
            color: $orange;
          }
          span,
          a {
            color: $black;
            text-decoration: none;
            margin-left: 1.4rem;
            transition: all 0.2s;
            &:hover {
              color: $orange;
            }
          }
        }
      }
    }

    .contact--title {
      margin-bottom: 20px;
      h2 {
        font-size: 1.4rem;
        color: $dark-blue;
        margin-bottom: 5px;
      }
      h4 {
        font-size: 0.9rem;
        color: #6a8695;
      }
    }
    .contact--form {
      input[type="text"],
      input[type="email"],
      textarea {
        border: 1px solid #ddd;
        padding: 12px 20px;
        background-color: transparent;
        width: 100%;
        outline: none;
        border-radius: 2px;
        font-size: 1rem;
      }
      .field {
        margin-bottom: 20px;
      }
      .text-area {
        height: 150px;
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
