.carousel {
  overflow: hidden;
  .carousel--images {
    height: calc(100vh - 98px);
    color: #fff;
    z-index: 1;
    .carousel--details {
      height: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      transform: translateY(50%);

      .carousel--details_inner {
        width: 50%;
        .carousel--details_title {
          font-size: 3.5rem;
          font-weight: 600;
          line-height: 62px;
          margin-bottom: 1.5rem;
          color: $white;
        }
        .carousel--details_body {
          font-size: 1.2rem;
          line-height: 40px;
          font-weight: 600;
          color: #ddd;
        }
        .button {
          margin-top: 2rem;
          z-index: 2;
        }
      }
    }
  }

  .first {
    background: linear-gradient(
        to bottom,
        rgba(61, 114, 180, 0.4),
        rgba(82, 82, 82, 0.2)
      ),
      url("../../Images/Carousel/welders-at-work.jpg"), no-repeat center center;
    background: linear-gradient(
        to bottom,
        rgba(61, 114, 180, 0.4),
        rgba(82, 82, 82, 0.2)
      ),
      url("../../Images/Carousel/welders-at-work.jpg"), no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .second {
    background: linear-gradient(
        to bottom,
        rgba(61, 114, 180, 0.4),
        rgba(82, 82, 82, 0.2)
      ),
      url("../../Images/Carousel/mining-garage.jpg"), no-repeat center center;
    background: linear-gradient(
        to bottom,
        rgba(61, 114, 180, 0.4),
        rgba(82, 82, 82, 0.2)
      ),
      url("../../Images/Carousel/mining-garage.jpg"), no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .button a {
      align-items: center;
    }
  }

  .third {
    background: linear-gradient(
        to bottom,
        rgba(61, 114, 180, 0.52),
        rgba(82, 82, 82, 0.52)
      ),
      url("../../Images/Carousel/mining-saw-distant-view.jpg"),
      no-repeat center center;
    background: linear-gradient(
        to bottom,
        rgba(61, 114, 180, 0.4),
        rgba(82, 82, 82, 0.2)
      ),
      url("../../Images/Carousel/mining-saw-distant-view.jpg"),
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel--arrow_overlay {
    background-color: rgba(0, 0, 0, 0.2);
    color: $white;
    font-size: 2rem;
    border-radius: 2px;
    width: 50px;
    height: 80px;
    position: absolute;
    line-height: 80px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 1;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      color: $yellow-orange;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    }

    .fa-arrow-circle-left {
      left: 0;
    }
    .fa-arrow-circle-right {
      right: 0;
    }
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
}
