.footer {
  padding: 5rem 0 2rem 0;
  .footer--top {
    height: 250px;
    border-bottom: 2px solid $orange;
    h2 {
      font-size: 1.4rem;
      color: $dark-blue;
      margin-bottom: 5px;
    }
    .footer--logo {
      margin-bottom: 20px;
      img {
        height: 80px;
      }
    }
    .footer--body {
      margin-bottom: 20px;
      p {
        line-height: 1.6;
        font-size: 0.9rem;
        font-weight: 600;
      }
    }

    .footer--links,
    .footer--contact {
      ul {
        li {
          font-size: 0.9rem;
          font-weight: 600;
          line-height: 2rem;
          .fas {
            font-size: 0.9rem;
            color: $orange;
          }

          a {
            color: $black;
            font-size: 0.9rem;
            text-decoration: none;
            transition: all 0.2s;
            &:hover {
              color: $orange;
            }
          }
        }
      }
    }
    .footer--contact {
      ul {
        li {
          span,
          a {
            margin-left: 1.4rem;
          }
        }
      }
    }
  }

  .footer--bottom {
    padding-top: 3rem;
    text-align: center;
  }
}
