.history {
  padding: 5rem 0;
  background-color: #f9f9f9;
  border-bottom: 2px solid #eee;
  text-align: center;
  .history--container {
    .history--title {
      h5 {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0px;
        color: $orange-red;
        margin: 0.5rem 0 1rem 0;
      }
      h2 {
        font-size: 2rem;
        text-transform: capitalize;
        font-weight: 600;
        line-height: 2.6rem;
        margin: 1rem 0;
      }
    }

    .history--body {
      width: 75%;
      margin: 0 auto;
      p {
        line-height: 2rem;
        margin: 1rem 0;
      }
    }
  }

  .history--photo {
    margin: 1rem 0;
    img {
      z-index: 5;
      max-width: 50%;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    }
  }
}
