@import "./Sass/Normalize.scss";
@import "./Sass/Variables.scss";
@import "./Sass/Grid.scss";
// @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap");

// Components
@import "./Components/Header/Header.scss";
@import "./Components/Carousel/Carousel.scss";
@import "./Components/About/About.scss";

// Library
@import "./Library/Button/Button.scss";

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  // font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
  color: $black;
}
